.attendance__content {
    width: 80%;
    padding-top: 20px;
    margin: 0 auto;
    color: #737373;
}

.attendance__title {
    color: #000;
}

.page-turn {
    color: #737373;
    text-decoration: none;
}

.detail {
    color: #000;
    text-decoration: none;
}

.attendance__date {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 10px 20px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
}

.attendance__date-title {
    cursor: pointer;
    padding: 6px 10px;
    display: inline-block;
    font-weight: bold;
    color: #000;
}

.attendance-table {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}

.attendance-table__inner {
    width: 100%;
}

.attendance-table__row {
    border-bottom: 3px solid #ddd;
}

.attendance-table__header {
    padding: 20px;
    width: 16%;
    font-weight: bold;
}

.attendance-table__td {
    padding: 8px;
    width: 16%;
}