.list__content {
    width: 65%;
    padding-top: 20px;
    margin: 0 auto;
    color: #737373;
}

.list__title {
    color: #000;
}

/* 勤怠月表示ページ用 */
.page-turn {
    color: #737373;
    text-decoration: none;
}

.month-nav {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 10px 20px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
}

.month-nav label {
    font-weight: bold;
    color: #000;
}

.month-picker-form {
    position: relative;
    display: inline-block;
}

.month-picker-label {
    cursor: pointer;
    display: inline-block;
}

.month-picker-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* これで隠れた状態でクリック可能 */
    cursor: pointer;
}

/* 勤怠月表示ページ用 ここまで */

.list-table {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}

.list-table__inner {
    width: 100%;
}

.list-table__row {
    border-bottom: 3px solid #ddd;
}

.list-table__header {
    padding: 15px;
    width: 16%;
    font-weight: bold;
}

.list-table__td {
    padding: 8px;
    width: 16%;
}

.detail-a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

/* 申請一覧ページ用 */

.link-btn {
    width: 100%;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.link-btn_a {
    color: #0f0f0f;
    text-decoration: none;
    margin: 0 50px;
}

.link-btn_a.active {
    font-weight: bold;
    color: #000;
}

/* 申請一覧ページ用 ここまで */